* {
    background-color: #000;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #000; */
    color: antiquewhite;
}

.main_contant {
    background-color: #000;
    height: 100vh;
}

.box {
    background-color: #212121;
    color: #fff;
    margin: 16px 80px;
    height: 400px;
    width: 400px;
}

.myself {
    overflow: auto;
}

.picture {
    overflow: hidden;
    border-radius: 50%;
}

.picture img {
    width: 500px;

}