body {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(12, 40px);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

header {
    background-color: blanchedalmond;
    grid-column: 1/13;
}

#sidebar {
    background-color: blanchedalmond;
    grid-column: 1/4;
    grid-row: 2/12;
}

#navigation {
    background-color: blanchedalmond;
    grid-column: 4/10;
    grid-row: 2/3;
}

#ads {
    background-color: blanchedalmond;
    grid-column: 10/13;
    grid-row: 2/12;
}

main {
    background-color: blanchedalmond;
    grid-column: 4/10;
    grid-row: 2/12;
}

footer {
    background-color: blanchedalmond;
    grid-column: 1/13;
    grid-row: 12/13;
}